.section {
    text-align: center;
    &--large {
        height: 500px;
    }
    &--cover {
        background-size: cover;
        background-position: center;
        position: relative;
        overflow: hidden;
        &:before {
            content: ' ';
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 100%;
            transform: translate(-50%, -50%);
            z-index: 1;
            background-color: rgba(0, 0, 0, 0.5);
        }
    }
    &__icon {
        font-size: $icon--size-xl;
        color: $font-color--grey;
        &--white {
            color: $font-color--white;
        }
        &--black {
            color: $font-color--black;
        }
    }
    &__title {
        color: $font-color--grey;
        &--white {
            color: $font-color--white;
        }
        &--black {
            color: $font-color--black;
        }
    }
}