$font-size__h1: 48px;
$font-size__h2: 34px;
$font-size__h3: 20px;
$font-size-xs : 12px;
$font-size-s : 16px;
$font-size-m : 18px;
$font-size-l : 32px;
$font-size-xl : 48px;

$margin-size-xl: 60px;
$margin-size-l: 50px;
$margin-size-m: 40px;
$margin-size-s: 30px;
$margin-size-xs: 10px;

$font-color--white: white;

$icon--size-xl: 60px;