$font-size__h1: 60px;
$font-size__h2: 34px;
$font-size__h3: 20px;
$font-size-xs: 12px;
$font-size-s: 16px;
$font-size-m: 18px;
$font-size-l: 32px;
$font-size-xl: 48px;
$margin-size-xl: 60px;
$margin-size-l: 50px;
$margin-size-m: 40px;
$margin-size-s: 30px;
$margin-size-xs: 10px;
$font-color--white: white;
$font-color--black: black;
$font-color--lightgrey: rgb(161, 161, 161);
$font-color--grey : rgb(110, 110, 110);
$icon--size-xl: 60px;
$background-color--light-grey : rgb(235, 233, 233);
$background-color--light-grey2 : rgb(241, 241, 241);