.section3 {
    background-color: $background-color--light-grey;
}

.card {
    color: white;
    &__item {
        @media(max-width: 767px) {
            min-height: 300px;
            margin-bottom: 20px;
        }
        @media(min-width: 768px) and (max-width: 991px) {
            min-height: 455px;
        }
        @media(min-width: 992px) {
            min-height: 400px;
        }
        .fa-user,
        .fa-heart,
        .fa-tablet {
            color: white;
            font-size: $icon--size-xl
        }
    }
    &--light-blue {
        background-color: #21b9ed;
        &:hover {
            background-color: #1b89ad;
        }
    }
    &--pink {
        background-color: #de006e;
        &:hover {
            background-color: #af0359;
        }
    }
    &--green {
        background-color: #369e32;
        &:hover {
            background-color: #297526;
        }
    }
    &__title {
        text-transform: uppercase;
    }
    &__description {}
}