.welcome {
    text-shadow: 3px 3px 10px rgba(0, 0, 0, .7);
    color: $font-color--white;
    height: 100%;
    &__inner {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        transform: translate(-50%, -50%);
    }
    &__arrow {
        position: absolute;
        z-index: 2;
        bottom: 10%;
        color: $font-color--white;
        font-size: 30px;
        transition: transform 1s;
        animation: scroll-down-anim 1s infinite;
        &:hover {
            transform: scale(1.5);
            color: $font-color--white;
        }
        &:visited{
            color: $font-color--white;
        }
    }
}