@import 'global.scss';
@import 'variables.scss';
body.ihelpyou {
    font-family: 'Roboto', sans-serif;
}

.ihelpyou {
    position: relative;
    height: 100%;
    .page-section {
        margin-top: 50px;
        color: #777;
    }
    header {
        .navbar {
            margin-bottom: 0px;
            padding: 7px 0px;
            background-color: transparent;
            &-toggle {
                border-color: $nav1;
            }
        }
        .header {
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            transition: all 0.5s;
            .navbar-brand {
                color: rgba(255, 255, 255, .8);
                font-size: xx-large;
                &:hover {
                    color: $nav1;
                    font-weight: bold;
                }
            }
            &.shrink {
                background-color: rgba(0, 0, 0, 0.6);
                opacity: 0.6;
                padding: 0px 0px;
            }
            &.navbar {
                border-width: 0px;
                .navbar-nav {
                    a {
                        color: rgba(255, 255, 255, .8);
                        &:hover {
                            color: $nav1;
                            font-weight: bold;
                        }
                    }
                    .active a {
                        font-weight: bold;
                        background-color: transparent;
                        color: $nav1;
                    }
                }
            }
        }
    }
    .containers {
        text-align: center;
        .container {
            &_banner {
                .fill-screen-section {
                    @include background-cover('../../assets/home.jpg');
                    position: relative;
                    overflow: hidden;
                    &:before {
                        content: ' ';
                        display: block;
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        z-index: 1;
                        background: rgba(0, 0, 0, 0.3)
                    }
                    .content {
                        position: relative;
                        height: 100%;
                        .centered {
                            position: absolute;
                            z-index: 100;
                            color: $font1Color;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            text-shadow: 3px 3px 10px rgba(0, 0, 0, .7);
                            h1 {
                                font-size: 80px;
                            }
                            .banner-text {
                                font-size: 20px;
                            }
                        }
                    }
                    .arrow-down {
                        position: absolute;
                        z-index: 150;
                        bottom: 10%;
                        left: 50%;
                        text-align: center;
                        transform: translate(-50%, -50%);
                        a {
                            color: $font1Color;
                            font-size: 40px;
                        }
                        i {
                            transition: transform 0.3s;
                            &:hover {
                                transform: scale(1.1); //transform: translate(-50%, -50%);
                            }
                        }

                        .fa-angle-down{
                            position: absolute;
                            animation: scroll-down-anim 1s infinite;
                        }
                    }
                }
            }
            &_replies {
                .fill-screen-section {
                    @include background-cover('../../assets/people-joined.jpg');
                    height: 500px;
                    position: relative;
                    overflow: hidden;
                    text-align: center;
                    &:before {
                        content: ' ';
                        display: block;
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        z-index: 1;
                        background: rgba(0, 0, 0, 0.5)
                    }
                    .fa-clock {
                        position: absolute;
                        color: $font1Color;
                        font-size: 60px;
                        top: 12%;
                        left: 0%;
                        right: 0%;
                        z-index: 200;
                    }
                    .description {
                        position: absolute;
                        z-index: 100;
                        color: $font1Color;
                        top: 26%;
                        left: 0%;
                        right: 0%;
                        text-shadow: 3px 3px 10px rgba(0, 0, 0, .7);
                    }
                }
            }
            &_why {
                height: 500px;
                .section-line {
                    background-color: $line1;
                    width: 80px;
                    height: 2px;
                    padding: 0px;
                    margin: auto;
                    margin-bottom: 20px;
                    margin-top: 20px;
                }
                div {
                    padding-top: 20px;
                }
                .fa-thumbs-up {
                    font-size: 60px;
                }
            }
        }
    }
}